<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>

    <h:body>

        <h:form>
            <div>
                <f:facet name="header">
                    <p:outputLabel value="Tutorials Provided"></p:outputLabel>
                </f:facet>
            </div>
            <p:growl id="messages"/>

            <p:menubar>
                <p:menuitem value="Início" url="/aplicacao/index.xhtml"/> 
                                
                <p:submenu label="Usuário">
                    <p:menuitem value="Novo Usuário" url="/cadUsuario.xhtml"/>
                    <p:menuitem value="Usuários" url="/listUsuario.xhtml"/>
                </p:submenu>
                
                <p:submenu label="Disciplina">
                    <p:menuitem value="Nova Disciplina" url="/cadDisciplina.xhtml"/>
                    <p:menuitem value="Disciplinas" url="/listDisciplina.xhtml"/>
                </p:submenu>
                
                <p:submenu label="Fórum">
                    <p:menuitem value="Avisos" url="#" />
                </p:submenu>

                <p:menuitem value="Ajuda" url="#" />
                
                <f:facet name="options">
<!--                    <p:outputLabel value="Bem-Vindo(a), " />-->
                    <p:commandButton value="Sair" action="#{LoginMB.logout()}" styleClass="btn_logout"/>
                </f:facet>
            </p:menubar>
        </h:form>        
    </h:body>
</html>

