<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition template="/template/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">Início</ui:define>

    <ui:define name="corpo">
        <h:form id="form-cadastro">	 	
            <p:panel header="Seja Bem-Vindo(a): #{LoginMB.login.login}">
                <div id="texto_intro">
                    Este é um ambiente para que você se sinta confortável para estudar, tirar dúvidas e aprender com seus amigos. A partir de agora, você será apresentado a uma nova experiência de gerenciamento de monitorias, esperamos que você goste e aproveite cada momento de estudo.
                    <br />
                    <br /><br />
                    Vá até ao menu e divirta-se! Até a próxima
                    
                    <br /><br />
                    
                    Atenciosamente, 
                        Equipe Academicci
                    
                </div>
            </p:panel>

            <p:messages showDetail="true" autoUpdate="true" closable="true" severity="warn"/>
            <p:messages autoUpdate="true" closable="true" severity="error"/>		
            <p:messages showDetail="true" autoUpdate="true" closable="true" severity="info"/>

        </h:form>
    </ui:define>
</ui:composition>
