<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Cadastro de Disciplinas</title>
    </h:head>
    <h:body>
        <h:form>
            <h:panelGrid columns="2">
                
                <h:outputLabel value="Período:" for="periodo" />
                <h:selectOneMenu value="#{disciplinaMB.disciplina.periodo}" id="periodo" 
                                     required="true" requiredMessage="Campo PERÍODO é obrigatório!">
			<f:selectItem itemValue="1" itemLabel="1º" />
			<f:selectItem itemValue="2" itemLabel="2º" />
			<f:selectItem itemValue="3" itemLabel="3º" />
			<f:selectItem itemValue="4" itemLabel="4º" />
			<f:selectItem itemValue="5" itemLabel="5º" />
                        <f:selectItem itemValue="6" itemLabel="6º" />
                        <f:selectItem itemValue="7" itemLabel="7º" />
                        <f:selectItem itemValue="8" itemLabel="8º" />
                        <f:selectItem itemValue="9" itemLabel="9º" />
                        <f:selectItem itemValue="10" itemLabel="10º" />
                </h:selectOneMenu>
                
                <h:outputLabel value="Nome:" for="nome" />
                <h:inputText value="#{disciplinaMB.disciplina.nome}" maxlength="100" id="nome"
                             required="true" requiredMessage="Campo NOME é obrigatório!" />
                
                <h:commandButton action="#{disciplinaMB.salvar()}" value="Salvar" />
                
            </h:panelGrid>
            
            <h:messages/>
            
        </h:form>
        
        <h:form>
            <h:dataTable var="item" value="#{disciplinaMB.lista}">
                
                <h:column>
                    <f:facet name="header">Período</f:facet>
                    #{item.periodo}
                </h:column>
                <h:column>
                    <f:facet name="header">Nome</f:facet>
                    #{item.nome}
                </h:column>
                
            </h:dataTable>
        </h:form>
    </h:body>
</html>