<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Cadastro de Alunos</title>
        
        <h:outputStylesheet library="css" name="estilo.css" />
        
    </h:head>
    <h:body>
        

        <h:form class="formeCad"> 
            <p:commandButton value="Ver" onclick="PF('wdialog').show();"/>
            <p:dialog id="dialog" widgetVar="wdialog"> 
            <p:panelGrid columns="1">
                <h1>Cadastro de Usuário</h1>

                    <p:messages id="menssagesCadastro"/>

                    Nome:<p:inputText id="nome" placeholder="Nome Completo" size="50" value="" required="true" requiredMessage="Campo Nome é obrigatório"/>
                    E-mail:<p:inputText id="email" placeholder="E-mail" size="50" value="" required="true" requiredMessage="Campo E-mail é obrigatório"/>
                    Matrícula:<p:inputText id="matricula" placeholder="Matrícula" size="30" value="" required="true" requiredMessage="Campo Matrícula é obrigatório"/>
                    Senha:<p:password id="senha" placeholder="Senha" size="30" value="" required="true" requiredMessage="Campo Senha é obrigatório"/>  
                    Confirmar Senha<p:password id="Confsenha" placeholder="Confirme a Senha" size="30" value="" required="true" requiredMessage="Campo Confirme a Senha é obrigatório"/> 
                    CPF:<p:inputText id="cpf" placeholder="CPF" size="30" value="" required="true" requiredMessage="Campo CPF é obrigatório"/>
                    RG:<p:inputText id="rg" placeholder="RG" size="30" value="" required="true" requiredMessage="Campo RG é obrigatório"/>

                    <div class="campo">
                        <label for="sexo">Sexo:</label><br>
                            <select name="sexo" id="sexo">
                                <option value="feminino">Feminino</option>
                                <option value="masculino">Masculino</option>
                                <option value="outros">Outros</option>
                            </select></br>
                    </div>
                    <br></br>

                    <div class="campo">
                        <label for="nacesso">Nível de Acesso:</label><br>
                            <select name="nacesso" id="NivelAcesso">
                                <option value="administrador">Administrador</option>
                                <option value="professor">Professor</option>
                                <option value="monitor">Monitor</option>
                                <option value="aluno">Aluno</option>
                            </select></br>
                    </div>
                 
                    
                    <p:commandButton type="" value="Salvar" class="btn2" ajax="false" action="login_novo.xhtml" onclick="this.form.target=''" />

            </p:panelGrid>   
            </p:dialog>      
        </h:form>


            
    
    </h:body>
</html>

